div{
    text-transform: uppercase;
}

h2{
    font-size: 24px;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 800;
    margin: 0;
    margin-bottom: -6px;
}
h3{
    font-size: 28px;
    letter-spacing: 6px;
    color: #fff;
    font-weight: 300;
    margin: 0;
}