.header{
    
    &__modal{
        &-wrapper{
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50vw;
            background: rgba(49, 53, 73, 1);
            position: fixed;
            padding: 60px 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid aqua;
            border-radius: 24px;
        }
        &-heading{

        }
        &-intro{
            color: #ffffff;
            font-size: 18px;
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0 40px;
    }
    &__label{
        width: 320px;
        padding: 4px;
    }
    &__input{
        width: 100%;
        outline: none;
        padding: 7px 0px 7px 14px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
    }
    &__sub{
        width: 100%;
        margin-top: 14px;
        padding: 20px 30px;
        color: #ffffff;
        font-size: 22px;
        letter-spacing: 1.4px;
        font-weight: 500;
        background: linear-gradient(#e66465, #ce3115);
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        box-shadow: 1px 1px #000;
        transition: 0.3s ease all;
        &:hover{
            box-shadow: 3px 3px 10px 2px #000;
            background: linear-gradient(#d82451, #961f0a);
        }
    }
    &__close-btn{
        padding: 20px 30px;
        color: #ffffff;
        font-size: 22px;
        letter-spacing: 1.4px;
        font-weight: 500;
        background: #d82451;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        box-shadow: 1px 1px #000;
        transition: 0.3s ease all;
        &:hover{
            box-shadow: 3px 3px 10px 2px #000;
            background: #d10e3e;
        }
    }
}
