.advantages, .procedure{
    &__mainNum{
        padding-left: 32px;
        margin-bottom: 70px;
        background: transparent;
        border-left: 2px solid #f62459;
        text-align: left;
        width: 100%;
    }
    ol {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        list-style-type: none; 
        counter-reset: my-counter; 
       }
       li:before {
        position: absolute;
        left: 0;
        top: -28px;
        content: counter(my-counter); 
        counter-increment: my-counter; 
        font-weight: bold; 
        margin-right: 0.5em; 
       }
    &__li{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 170px;
        width: 40%;
        position: relative;
        padding-left: 94px;
        &:nth-child(1), &:nth-child(2){
            padding-bottom: 60px;
        }
        &:nth-child(2){
            margin-left: 40px;
        }
        &:nth-child(3){
            margin-left: 40px;
        }
        &:nth-child(4){
            margin-left: 80px;
        }
    }
    &__p-head{
        font-size: 24px;
        line-height: 1.1;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
    }
    &__p-bot{
        font-size: 20px;
        line-height: 1.1;
        letter-spacing: 1.1px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 0;
    }
}

.procedure{
    li:before {
        opacity: 0.7;
    }
}